* {
  /* margin: 0; */
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: lightslategray;
 
}
 

#profile {
  padding: 5px;
  height: 100vh;
  width: 250px;
}
#light {
  background-color: white;
}
#dark {
  background-color: lightslategrey;
}
#profile #avatar {
  height: 195px;
  width: 195px;
  border-radius: 50%;
  border: 1px solid black;
  margin: 10px;
}
#avatar img {
  border: 1px solid black;
  height: 100%;
  width: 100%;
  border-radius: inherit;
}

#data-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
}
h1 {
  font-size: 2rem;
  text-align: center;
  margin: 0 auto;
  padding: 1rem;
  font-family: cursive;

  box-shadow: black;
}

article {
  margin: 0 auto;
  max-width: 800px;
  padding: 0 20px;
  text-align: center;
}
.buttons {
  justify-content: space-around;
  margin: 5px;
  cursor: pointer;
  background-color: black;
  color: white;
  border-radius: 5px;
  font-style: bolder;
  font-size: 15px;
  box-shadow: black;
}

a .buttons {
  border-radius: 5px;
  text-decoration: none;
  background-color: black;
  color: white;
}
#user-data {
  height: 80%;
  width: 265px;
  margin: 10px;
  font-size: 18px;
}
#paginate {
  position: relative;
  margin-top: 50px;
}

#outlet {
  margin-top: 50px;
}
a {
  text-decoration: none;

  color: black;
}
.btns {
  padding: 5px;
  font-size: 15px;
  display: flex;
  justify-content: space-around;
  margin: 5px;
  background-color: black;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  /* box-shadow: black; */
}
.switch {
  display: flex;
  justify-content:left ;
  align-items: left;
  cursor: pointer;
  /* width: 100vw; */
  /* height: 100px; */
  /* border-radius: 5px; */
  font-size: 10px;
}
@media screen and (max-width: 667px) {
  .Home {
    flex-direction: column;
    width: screen;
    border: 1px solid black;
    min-height: 800px;
  }
  #profile {
    height: fit-content;
    padding: 5px 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
  }
  #profile #avatar {
    height: 50px;
    width: 50px;
  }
  #profile-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  #data-card {
    display: flex;
    flex-direction: column;
    padding: 10px;

    flex-wrap: wrap;

    justify-content: space-between;
  }
  #user-data {
    height: 180px;
    font-size: 7px;
  }
  #paginate {
    left: 100px;
    position: absolute;
  }
  #outlet {
    margin-top: 160px;
  }
}
