* {
  /* margin: 0; */
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(220, 218, 220);
  overflow: hidden;
 
}
#profile {
  background-color: lightslategrey;
  padding: 5px;
  height: 100vh;
  width: 250px;
  border: 3px solid black;
  border-radius: 10px;
}

#profile #avatar {
  height: 195px;
  width: 195px;
  border-radius: 50%;
  border: 1px solid black;
  margin: 10px;
}
#avatar img {
  border: 1px solid black;
  height: 100%;
  width: 100%;
  border-radius: inherit;
}

h1 {
  font-size: 2rem;
  text-align: center;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: black;
}

#light {
  font-size: 20px;
}
#light .nav-link a {
  color: black;
}

article {
  margin: 0 auto;
  max-width: 800px;
  padding: 0 20px;
  text-align: center;
}
.buttons {
  justify-content: space-around;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 15px;
  box-shadow: black;
}
.buttons:hover {
  background-color: rgb(17, 8, 8);
  color: white;
}

a .buttons {
  text-decoration: none;
  color: black;
}
a {
  text-decoration: none;

  color: black;
}
 .btns {
  padding: 5px;
  font-size: 15px;
  display: flex;
  justify-content: space-around;
  margin: 5px;
 
  cursor: pointer;
  border-radius: 5px;
  box-shadow: black;
}

@media all and (max-width: 768px) {
  #profile {

  color: white;
  
  } 
  
 }
