@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}
body {
  font-family: "Outfit", sans-serif;
  background: url(https://images.unsplash.com/photo-1571171637578-41bc2dd41cd2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80);
}

#profile {
  padding: 5px;
  height: 100vh;
  width: 250px;
}

#desc a {
  text-decoration: none;
}
#profile #avatar {
  height: 195px;
  width: 195px;
  border-radius: 50%;
  margin: 10px;
}
#avatar img {
  height: 100%;
  width: 100%;
  border-radius: inherit;
}
#bionic {
  margin: 10px;
  font-size: 20px;
  color: white;
  text-align: center;
}
.repo_name {
  margin: 15px;
  font-size: 18px;
  color: white;
  text-align: center;
  margin-left: 60px;
}

#data-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

h1 {
  color: white;
  text-align: center;
}
.pro-name {
  font-size: 40px;
  font-weight: 600;
  color: white;
}
article {
  /* border: 1px solid green; */
  align-items: center;
  width: fit-content;
}
.buttons {
  justify-content: space-around;
  margin: 5px;
  cursor: pointer;
  background-color: white;
  border-radius: 5px;
  font-style: bolder;
  font-size: 15px;
  box-shadow: black;
}

a .buttons {
  border-radius: 5px;
  text-decoration: none;
  background-color: black;
  color: white;
}
button {
  border: none;
  cursor: pointer;
  font-size: 1rem;
  color: black;
  font-weight: 20px;
  border-radius: 5px;
  padding: 5px;
}
/* .user-data {
  border: 5px solid white;
  border-radius: 10px;
  width: 350px;
  height: 400px;
} */
#paginate {
  position: relative;
  margin-top: 50px;
}

#outlet {
  width: 100%;
  height: 300px;
  padding: 10px;
  color: white;
  /* border: 4px solid black; */
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: grey;
  justify-content: center;
  align-items: center;
}
a {
  text-decoration: none;
  align-items: center;
}
#icons {
  display: inline-block;
  margin: 5px;
  font-size: 30px;
  margin-left: 60px;
}

@media screen and (max-width: 1024px) {
  .Home {
    display: flex;
    flex-direction: column;
  }

  #profile {
    margin: auto;
    background: black;
    opacity: 0.6;
    display: grid;
    /* border: 5px solid wheat; */
    width: 100%;
    height: fit-content;
    z-index: 1;
    top: 0;
    position: relative;
  }
  #profile #avatar {
    margin-left: 120px;
    width: 195px;
  }
  .user-data {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    color: white;
    background: grey;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
  }
  .repo_name {
    /* border: 1px solid black; */
    display: flex;
    justify-self: center;
    font-size: 10px;
    align-items: center;
  }
  #icons {
    display: inline-block;
    font-size: 20px;
    /* margin-left: 60px; */
  }
}

@media screen and (min-width: 1025px) {
  .user-data{ 
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  article {
    display: flex;
    flex-direction: column;
    text-align: center;
    word-wrap: normal;
    color: white;
    width: 300px;
    height: fit-content;
  }
}
